{% extends "layout.html" %}
{% block title %}
Admin
{% endblock %}
{% block content %}
<div class="edit_user">
    <form method='post' action='/edit_user/{{admin.id}}'>
            <label>Username:</label>
            <br>
                <input type='text' name='username' size="100" required class='form-control' value='{{admin.username}}'>
            <p></p>
            <label>Role:</label>
            <br>
            <select name="role" id="role" class='form-control'>
                <option value = "{{admin.role}}">{{admin.role}}</option>
                <option value="admin">admin</option>
                <option value="agent">agent</option>
                <option value="user">user</option>
            </select>
            <p></p>
            <input type='submit' value='Edit' class='btn btn-primary'>
    </form>
{% endblock %}