{% extends "layout.html" %}
{% block title %}
Manage Account
{% endblock %}
{% block content %}
<table class='manage_account'>
  <table class="table table-hover">
    <thead class="tables">
      <th>ID</th>
      <th>Username</th>
      <th>Registration</th>
      <th>Edit Account</th>
    </thead>
    <tbody>
        {% for account in account %}
        
          <tr>
            <td>{{account.id}}</td>
            <td>{{account.username}}</td>
            <td>{{account.registration}}</td>
            <div class="edit_button">
                <td><a href='{{url_for("user.edit_account", id=account.id)}}' class='btn btn-primary'>Edit</a></td>
              </div>
          </tr>
           
      {%endfor%}
      </tbody>
  </table>
{% endblock %}