{% extends "layout.html" %}
{% block title %}
Reserve Parking
{% endblock %}
{% block content %}
<p>Welcome to Booker.</p>
<p>Here you can reserve a car parking space for Liverpool MOD site.</p>
<div class="reserve_parking">
    <form method='post' action="{{url_for('main.reserve_parking')}}">
            <label>Username:</label>
            <br>
            <input type='text' name='username' size="10" required class='form-control' value="{{current_user.username}}" readonly>
            <label>Car Registration:</label>
            <br>
            <input type='text' name='registration' size="10" required class='form-control' value="{{current_user.registration}}" readonly>
            <label>Date:</label>
            <br>
            <input type='date' name='date' size="10" required class='form-control'>
            <p></p>
            <input type='submit' value='Reserve' class='btn btn-primary'>
            <input type="reset" value="Reset">
    </form>
</div>
{% endblock %}
