{% extends "layout.html" %}
{% block title %}
Reservations
{% endblock %}
{% block content %}
<table class='reservations_table'>
    <thead>
      <th>ID</th>
      <th>Username</th>
      <th>Registration</th>
      <th>Date</th>
    </thead>
    <tbody>
      {% for reservation in reservation %}
        <tr>
          <td>{{reservation.id}}</td>
          <td>{{reservation.username}}</td>
          <td>{{reservation.registration}}</td>
          <td>{{reservation.date}}</td>
        </tr>
      {%endfor%}
      </tbody>
  </table>
{% endblock %}